<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
   <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    {% for css in layout.css %}
        <link rel="stylesheet" type="text/css" href="/assets/{{ css }}" />
    {% endfor %}

    {% for css in page.css %}
        <link rel="stylesheet" type="text/css" href="/assets/{{ css }}" />
    {% endfor %}
  </head>

  <body>
    {{ content }}
  </body>
</html>